/* Set global font styles */


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #222;
}



/* Headings */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111;
}

h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p, span, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
}
