:root {
    --color-primary: #F8F6F0;
    --color-secondary: #F0EEE6;
    --color-accent: #B3BFB9;
    --color-text: #938A83;
    --color-background: #1F1F1F;
    --text-light: #F8F6F0;
    --text-dark: #1F1F1F;
    --background-light: #F8F6F0;
    --background-dark: #1F1F1F;
  }
  