.contact-card {
    text-align: center;    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-icon {
    font-size: 30px;
    color: #43535e;
    margin-bottom: 10px;
  }
  
  .contact-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .contact-info {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  