.slider-container {
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-track {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 1rem;
  width: max-content;

  /* debugging */
  /* border: 2px solid red; */
}

.destination-card {
  flex: 0 0 auto;
  width: 300px;
  scroll-snap-align: start;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.destination-card:hover {
  transform: translateY(-10px);
}
 